*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #4b6cb7, #182848);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main{
    background: transparent;
    backdrop-filter: blur(100px);
    border: 2px solid white;
    border-radius: 20px;
    padding: 25px;
    width: 90%;
    max-width: 95%;
    margin: 20px auto;
}

.input-container{
    display: block;
    margin-bottom: 20px;
    text-align: start;
}

.input-container input{
    flex-grow: 1;
    height: 50px;
    padding: 0 15px;
    border: 2px solid black;
    border-radius: 50px;
}

.input-container input::placeholder{
    padding: 0;
    list-style-position: inside;
}

#taskList {
    padding: 0;
    list-style-position: inside;
}

#newTask{
    resize: none;
    width: 100%;
    height: 75px;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    overflow-y: scroll;
}

#newTask:hover{
    border: 2px solid white;
}

#addTask{
    background-color: #4CAF50;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.edit-input{
    resize: none;
    width: 100%;
    height: 200px;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    overflow-y: scroll;
}

h1{
    color: white;
    text-align: center;
}

ol{
    color: white;
}

ol li {
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
}

ol button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

ol input{
    border: 2px solid black;
    border-radius: 50px;
}

.task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.task-text {
    flex: 1;
    min-width: 0;
    background-color: #000;
    color: white;
    padding: 8px;
    border-radius: 8px;
    word-break: break-word;
}

.control-buttons {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

button i {
    font-size: 16px;
}

ol .edit-button{
    background-color: yellow;
}

ol .delete-button{
    background-color: red;
}

ol .confirm-button{
    background-color: yellowgreen;
}

ol .cancel-button{
    background-color: orange;
}

#page-manager{
    display: flex;
    justify-content: center;
}

#page-manager button{
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 50%;
}